NEVIIM_FIREBASE_API_KEY=AIzaSyBSer1IGO3cE3E3sQD57unqYj9DQOWtmoA
NEVIIM_FIREBASE_APP_ID=1:778846479860:web:0387dd0c913f29520385a1
NEVIIM_FIREBASE_MESSAGING_SENDER_ID=778846479860
NEVIIM_FIREBASE_PROJECT_ID=hidden-solstice-305914
NEVIIM_FIREBASE_AUTH_DOMAIN=hidden-solstice-305914.firebaseapp.com
NEVIIM_FIREBASE_STORAGE_BUCKET=hidden-solstice-305914.firebasestorage.app
NEVIIM_FIREBASE_APP_CHECK_SITE_KEY=
NEVIIM_BACKEND_BASE_URL=https://insightflow.ddns.net
